.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
}

.header__icon {
  object-fit: contain;
  height: 100px;
  margin-left: 20px;
}

.header-center > input {
  border: none;
  width: 250px;
  padding: 10px;
  outline: 0;
  font-size: 19px;
}

.header-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  max-width: fit-content;
  padding: 10px;
  height: 30px;
  border: 1px solid lightgray;
  border-radius: 999px;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15vw;
  margin-right: 80px;
}
